html {
  font-family: 'Helvetica', sans-serif !important;
  font-size: 18px;
  background-color: lightgrey;
  transition: background 2s linear;
    background-image: url('../data/background.jpg');
}


.button {
  font-size: 1.5vw;
  border: none;
  background-color: #ebebf0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  z-index: 1;
  padding: 0;
}
@media (min-width: 40em) {
  .button {
    font-size: 1.5vw;
  }
}
body, html {
  margin: 0;
  padding: 0;
}


.slider {
  height: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 0 1% !important;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
          animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__image {
  font-size: 2.7rem;
      color: #2196F3;
}
.slider__caption {
  font-weight: 500;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.slider__txt {
  color: #999;
  margin-bottom: 3rem;
  margin-left: 2%;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}


.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    color: black;
    overflow-x: hidden;
}

.range {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  margin-top: 10px;
  transform: translate(-50%, -50%);
}

*, *:before, *:after {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.item_selector {
  width: 50%;
  position:relative;
  margin-left:50%;
  margin-top:10%;
}

.items {
  color: #ccd7e8;
  font-family: monospace;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 100;
  font-size: 3vw;
}


.button:active:before {
  -webkit-transform: translate3D(0, 0, 0);
          transform: translate3D(0, 0, 0);
}
.button:focus, .button:active {
  outline: none;
}
.button .button__inner {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: #fff;p
  background : transparent !important;
  padding: 1em 1.5em;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  transition: -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  transition: transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9), -webkit-transform 0.6s cubic-bezier(0, 0.9, 0.13, 0.9);
  position: relative;
  border-radius: 2px;
}

.slider-wrapper {
  height:2.75em;
  display:inline-block;
}

.square_btn {
   position: relative;
   display: inline-block;
   padding: 0.25em 0 !important;
   text-decoration: none;
   color: #fff;
   background: transparent !important; 
   font-size: 1em !important;
   margin-bottom: 1%;
   font-weight: bold;
}

.slider-wrapper button {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 5px 11px 5px 15px;
    text-decoration: none;
    transition: .4s;
    width: 10%;
}

.slider-wrapper button:before {
   position: absolute;
   display: inline-block;
   content: '';
   width: 4px;
   height: 100%;
   top: 0;
   left: 0;
   border-radius: 3px;
   background:#67c5ff;
}

.share-button {
   text-transform: uppercase;
   display: inline-block;
  position: relative;
  overflow: hidden;
  border: 2px solid #fff;
  width: 40%;
  height: 100%;
  top: 50%;
  left: 50%;
  text-transform: uppercase;
  font-size: 14px;
  float: left;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.share-button:hover {
  border: 2px solid #880E4F;
}

.share-button a {
   color: white;
   font-size: 12px;
   display: block;
   text-decoration: none;
   font-weight: bold;
   letter-spacing: 1px;
   line-height: 26px;
   padding: 7px 13px 7px 13px;
   background-color: black;
}

.share-button > a:after{
   font-family: FontAwesome;
   font-size: 14px;
   color: white;
   margin-left: 10px;
}

.share-button > a:hover,
.share-button > a:hover:after,
.share-button .icon-wrapper ul li a i:hover {
  color: #67c5ff;
}

.share-button .icon-wrapper ul li:last-child a:hover {
  color: red;
  color: #880E4F !important;
}
.share-button .icon-wrapper{
    position: absolute;
    left: -127.5%;
    top: 0;
}

.share-button .icon-wrapper > a{
    display: inline-block;
}

.share-button a.hidden{
    display: none;
}

.share-button.active .icon-wrapper{
     background-color: white;
     width:100%;
}

.share-button .icon-wrapper ul {
    padding-left: 0;
    margin: 0;
}
.share-button .icon-wrapper ul:after{
    clear: both;   
}
.share-button .icon-wrapper ul li{
    float: left;
    display: inline-block;
    width:14%;
}

.share-button .icon-wrapper ul li:last-child {
    float: right;
}

.share-button .icon-wrapper ul li a i{
    font-size: 14px;
}

.share-button .icon-wrapper ul li:last-child a{
    background-color: white;
}

.share-button .icon-wrapper ul li:last-child a i {
    color: #2d3847 !important;
    position: relative;
    left: 1px;
}

#sq_end:after{
   position: absolute;
   display: inline-block;
   content: '';
   width: 4px;
   height: 100%;
   top:0;
   left: 100%;
   border-radius: 3px;
   background:#67c5ff;
}

#sq_end:hover:after {
    background: #880E4F;
    top : 0 !important; 
}


.table-background {
  padding: 0 25px 25px;
  position: relative;
  width: 100%;
  z-index: 2;
}

.table-background::after {
  content: '';
  height: 350px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

@media (min-width: 900px) {
  .table-background {
    padding: 0 0 25px;
  }
}

.table-container {
  margin: 0 auto;
  width: 100%;
  overflow-x: scroll;
  border-radius:10px;
  background: white;
}

.panel {
  background-color: #fff;
  padding: 15px 25px;
  position: relative;
  width: 100%;
  z-index: 10;
}

.pricing-table {
  display: flex;
  flex-direction: row;
}

.pricing-table * {
  text-align: center;
  text-transform: uppercase;
}

.pricing-plan {
  border-bottom: 1px solid #e1f1ff;
  padding: 25px;
}

.pricing-plan:last-child {
  border-bottom: none;
}

@media (min-width: 200px) {
 #stats_header_1 {
  width: 50%;
 }
 .container {
  width: 48%;
 }
}

@media (min-width: 900px) {
 #stats_header_1 {
  width: 35%;
 }
 .container {
  width: 62.5%;
 }
}
@media (min-width: 1100px) {
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    flex-basis: 100%;
    padding: 0px 1%;
  }

  .pricing-plan:last-child {
    border-right: none;
  }
    .pricing-table {
    flex-direction: row;
  }

  #upgrades_table {
    width:140%;
  }
}

.pricing-img {
  margin-bottom: 25px;
  max-width: 100%;
}

.wrap {
  margin-bottom: 4%;
}
.pricing-header {
  color: #000;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10%;
}

.pricing-features {
  color: #016FF9;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 50px 0 0px;
}

.pricing-features-item {
  border-top: 1px solid #e1f1ff;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
}

.pricing-features-item:last-child {
  border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
  color: #016FF9;
  display: block;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 5%;
}

.pricing-button {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  color: #348EFE;
  display: inline-block;
  margin: 25px 0;
  padding: 15px 35px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
  background-color: #e1f1ff;
}

.pricing-button.is-featured {
  background-color: #48aaff;
  color: #fff;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:active {
  background-color: #269aff;
}


.slider-wrapper button:hover:before, .slider-wrapper button:hover:after {
    background: #880E4F;
    top : 0 !important; 
}

.square_btn:hover {
  background:transparent !important;
}

.square_btn:before {
   position: absolute;
   content: '';
   width: 100%;
   height: 4px;
   top: 100%;
   left: 0;
   border-radius: 3px;
   background: #fff;
   transition: .2s;
}

.square_btn:hover:before {
    background: #880E4F; 
    top: -webkit-calc(100% - 3px);
    top: calc(100% - 3px);
}

.container {
  display: inline-block;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 75%;
}

.button:hover .button__inner, .button:focus .button__inner {
   color: #67c5ff; 
  -webkit-transform: translate3D(0, -10px, 0);
          transform: translate3D(0, -10px, 0);
}
.button:active .button__inner {
   color: #67c5ff; 
  -webkit-transform: translate3D(0, 0, 0);
          transform: translate3D(0, 0, 0);
}
.button:hover .button__inner, .button:focus .button__inner {
  color: #67c5ff; 
  background-color: #fff;
}

.button--secondary {
  background-color: #0277BD;
  border-radius: 2px;
  z-index: 0;
}

.button--secondary:after {
  border-radius: 2px;
  background-color: #000000;
}
.button--secondary .button__inner {
  background-color: #000000;
}
.button--secondary:hover .button__inner, .button--secondary:focus .button__inner {
  background-color: #E1F5FE;
  color: #000000;
}

#sacrifice_header_desc {
  background-color: #000000;
  padding: 6px 6px;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 5px;
}
.dotted {
  border-bottom: 1px dashed #fff;
  text-decoration: none; 
}
#purchase-btn-one {
  margin-left : 15%;
}
#purchase-btn-two {
  margin-left : 15%;
}
#purchase-btn-three {
  margin-left : 15%;
}
#purchase-btn-four {
  margin-left : 15%;
}
#followers {
  font-size: 2vw;
}
.span {
  font-size: 1vw;
}
  .header_1 {
  margin-top : 5px !important;
} 
  #purchase-one {
    width: 100%;
  }


#stats_header_1 {
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 1.5vw;
}
/* Style the tab content */
.tabcontent {
    display: none;
    height: 100%;
    padding-top : 0.5em;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    font-weight:bold;
}
.tab_div {
  margin: 3px;
  padding: 4px;
  border-radius: 5px;
  position: relative;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}f
/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.align_right {
  float :right;
}
.align_left {
  float: left;
}
.align_center {
  text-align: center;
}
#stats_div_1 {
  padding: 5%;
  padding-top: 0;
  height:90vh;
}
.sacrifice {
  text-align: center;
  padding: 12px 6px;
}
#time_played {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 5%;
  margin-bottom: 1%;
  text-align: center;
  /* background-color: #fff; */
  border-radius: 5px ;
  font-size: 1em;
    /* -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777; */
}
#total_energy1 {
  margin-left: 28%;
}
#total_energy2 {
  margin-left: 19%;
}
#total_energy3 {
  margin-left: 20%;
}
#total_energy4 {
  margin-left: 25%;
}
#total_energy5 {
  margin-left: 21%;
}
#total_energy6 {
  margin-left: 20%;
}
#miracle_wrap, #make_sell_spacer {
    width: 90%;
    margin-left: 5%;
}

#make_sell_spacer {

    display: none;
    background: none;
    border: none;
    height: 520px;

}

.clear {

    clear: both;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    overflow:hidden;
}
#left_wrap { 
    float: left;
    margin-right:10px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 95%;
}
#left_floatable { 
    width: 100%;
    z-index: 1000;
    color:#fff;
    border: 2px solid #fff;
    border-radius: 5px;
}

#power_div {
  text-align: center;
  padding: 1em;
  color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 10px;
}

#above_div {
  text-align: center;
  padding: 1em;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 90%;
  margin-left: 5%;
}

#miracle_button, #miracle_button2nd {
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none; 
    margin: auto; 
    width: 220px;
    font-weight: bold;
    font-size: 1.1em;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}

.miracle { 
    border: none;
    background-color: #00ffff;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 1px;
} 

 #miracle_button2nd {
  padding: 10px 20px;
}


#miracle_button, #miracle_button2nd {
  background-color: #000000;
}

#challenges_main_header_div {
  padding-bottom: 4%;
}

@-moz-document url-prefix() {
  .scroll_tabs {
    overflow: scroll;
  }
}
.scroll_tabs {
  margin-top: 1%;
  overflow: scroll;
  white-space: nowrap;
}

.scroll_tabs .button--secondary.active .button__inner {
  background-color : #E1F5FE;
  color: #212121;
}
.scroll_tabs .button--secondary {
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 5px;
    font-size: 0.9em;
}
div.scroll_tabs button {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scroll_tabs button:hover {
    background-color: #777;
}
.miracle_click, .transcend_click { 
    display: none;
    z-index: 1500;
    position: fixed;
    font-size: 1.3em;
    font-weight: bold;
    text-shadow: 0px 1px 1px #333;
    color: #fff;
}

#settings_div_1,#pantheon_div_1 ,#sacrifice_div_1  {
  padding: 16px 16px;
}
#sacrifices_div_0 {
  padding: 16px 24px;
  padding-bottom: 2em;
}
.sacrifice_unlocked {
  text-align: center;
}
#miracle_div, #miracle2_div {
  text-align: center;
  padding: 0em;
}

#miracle2_div {
  margin-top: 2.5%;
}

.purchase {
    border: none;
    background-color: #000;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 2px;
}

.purchase:hover {
  padding: 6px 6px;
  border: 2px solid  #880E4F;
  color: #67c5ff !important;
}

.reset {
    border: none;
    background-color: #212121;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 2px;
    margin-top: 5%;
}
.reset:hover {
  background-color: #E3F2FD;
  color: #212121;
  padding: 6px 6px;
  border: 2px solid  #880E4F;
}
.reset[disabled]:hover {
  background-color: grey;
  color: lightgrey;
  border: none;
  padding: 8px 8px;
}
.boss_upgrade {
    border: none;
    background-color: #212121;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 2px;
}
.boss_upgrade:hover {
  background-color: #E3F2FD;
  color: #212121;
  padding: 6px 6px;
  border: 2px solid  #880E4F;
}
.boss_upgrade[disabled]:hover {
  background-color: grey;
  color: lightgrey;
  border: none;
  padding: 8px 8px;
}
/***/
ul {
  margin:0;
  padding:0;
  text-decoration:none;
  list-style:none;
}
li {
  padding:0;
  margin:0;
}
nav {
  text-align:center;
  width:100%;
  position:relative;
  height:auto;
  overflow:hidden;
  background:none;
}
nav ul {
  text-align:center;
}
nav ul li {
  display:inline-block;
}
.upg_header {
  color:#fff;
  display:inline-block;
  text-decoration:none;
  border-bottom: 2px solid #fff;
  transition-property:all .2s linear 0s;
  -moz-transition:all .2s linear 0s;
  -webkit-transition:all .2s linear 0s;
  -o-transition:all .2s linear 0s;
  font-size:0.9em;
}
.upgrade_li {
  margin-left: 1.5%;
  margin-right: 1.5%;
}
/*overlay*/
.overlay {
  display:none;
  position:relative;
  top:0;
  height:100%;
  width:100%;
  /* background:#333; */
  overflow:auto;
  z-index:99;
}
.button_essence {
  display:inline-block;
  font-size:1.25em;
  text-align:right;
  width:100%;
}
#boss_shop_wrap {
  text-align: center;
}
.wrap ul.wrap-nav {
  padding: 2% 2%;
  /* border-bottom:1px solid #575757; */
  text-transform:capitalize;
}
.wrap ul.wrap-nav li {
  font-size:20px;
  display:inline-block;
  vertical-align:top;
  width:30%;
  position:relative;
}
.wrap ul.wrap-nav li a {
  color:#34B484;
  display:block;
  padding:8px 0;
  text-decoration:none;
  transition-property:all .2s linear 0s;
  -moz-transition:all .2s linear 0s;
  -webkit-transition:all .2s linear 0s;
  -o-transition:all .2s linear 0s;
}
.wrap ul.wrap-nav li a:hover {
  color:#f0f0f0;
}
.wrap ul.wrap-nav ul {
  padding:20px 0;
}
.wrap ul.wrap-nav ul li {
  display:block;
  font-size:13px;
  width:100%;
  color:#e9e9e9;
}
.wrap ul.wrap-nav ul li a {
  color:#f0f0f0;
}
.wrap ul.wrap-nav ul li a:hover {
  color:#34B484;
}

@media screen and (max-width:48em) {
  .wrap ul.wrap-nav>li {
    width:100%;
    padding:20px 0;
    border-bottom:1px solid #575757;
  }
  .wrap ul.wrap-nav {
    padding:30px 0px 0px;
  }
  nav ul {
    opacity:0;
    visibility:hidden;
  }
}

/**/
#boss_upgrades {
    border: none;
    font-size: 2em;
    z-index: 100;
    background-color: #212121;
    color: white;
    padding: 14px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 20px;
}
#boss_upgrades:hover {
  background-color: #E3F2FD;
  color: #880E4F;
  padding: 12px 12px;
  border: 2px solid  #880E4F;
}
#make_save {
    border: none;
    background-color: #000;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 2px;
}

#make_save:hover {
  padding: 8px 16px;
  border: 2px solid  #880E4F;
}
.sell:hover {
  padding: 6px 14px;
  border: 2px solid  #880E4F;
  color: #67c5ff !important;
}
.purchase[disabled]:hover {
  background-color: grey;
  color: lightgrey;
  border: none;
  padding: 8px 8px;
}
.sell[disabled]:hover {
  background-color: grey;
  color: lightgrey;
  border:none;
  padding: 8px 16px;
}
.sell {
    border: none;
    background-color: #000;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 2px;
}
#battle_1 {
  width: 50%;
  height: 50%;
  margin-left: 5%;
}

button:disabled, button.disabled {
    background-color: grey;
    color: lightgrey;
    opacity: .8;
}

@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}
#stats_header_div {
  height: 20vh;
}
.tab_div {
  border: 2px solid #fff;
  color:#fff;
}
#pantheon_unlocked, #challenges_main_header_div, #sacrifices_div_0, #time_played, #main_upgrades_header, #leap_unlocked, #stats_div_1  {
  border: none !important;
}
.uncompleted {
  border-radius:15px;
  text-align: center;
  height: 60vh;
}

#completed_challenges {
  border-radius:15px;
  text-align: center;
  height: 60vh;
  overflow-y: scroll;  
}

#c {
  background:transparent;
  margin:1%;
}

button[data-balloon] {
  overflow: visible; }

[data-balloon] {
  position: relative;
  cursor: pointer; }
  [data-balloon]:after {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.18s ease-out 0.18s;
    -moz-transition: all 0.18s ease-out 0.18s;
    -ms-transition: all 0.18s ease-out 0.18s;
    -o-transition: all 0.18s ease-out 0.18s;
    transition: all 0.18s ease-out 0.18s;
    font-family: sans-serif !important;
    font-weight: normal !important;
    font-style: normal !important;
    text-shadow: none !important;
    font-size: 12px !important;
    background: rgba(17, 17, 17, 0.9);
    border-radius: 4px;
    color: #fff;
    content: attr(data-balloon);
    padding: .5em 1em;
    position: absolute;
    white-space: nowrap;
    z-index: 10; }
  [data-balloon]:before {
    background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba(17, 17, 17, 0.9)%22%20transform%3D%22rotate(0)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
    background-size: 100% auto;
    width: 18px;
    height: 6px;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.18s ease-out 0.18s;
    -moz-transition: all 0.18s ease-out 0.18s;
    -ms-transition: all 0.18s ease-out 0.18s;
    -o-transition: all 0.18s ease-out 0.18s;
    transition: all 0.18s ease-out 0.18s;
    content: '';
    position: absolute;
    z-index: 10; }
  [data-balloon]:hover:before, [data-balloon]:hover:after, [data-balloon][data-balloon-visible]:before, [data-balloon][data-balloon-visible]:after {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    pointer-events: auto; }
  [data-balloon].font-awesome:after {
    font-family: FontAwesome; }
  [data-balloon][data-balloon-break]:after {
    white-space: pre; }
  [data-balloon][data-balloon-blunt]:before, [data-balloon][data-balloon-blunt]:after {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none; }
  [data-balloon][data-balloon-pos="up"]:after {
    bottom: 100%;
    left: 50%;
    margin-bottom: 11px;
    -webkit-transform: translate(-50%, 10px);
    -moz-transform: translate(-50%, 10px);
    -ms-transform: translate(-50%, 10px);
    transform: translate(-50%, 10px);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top; }
  [data-balloon][data-balloon-pos="up"]:before {
    bottom: 100%;
    left: 50%;
    margin-bottom: 5px;
    -webkit-transform: translate(-50%, 10px);
    -moz-transform: translate(-50%, 10px);
    -ms-transform: translate(-50%, 10px);
    transform: translate(-50%, 10px);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top; }
  [data-balloon][data-balloon-pos="up"]:hover:after, [data-balloon][data-balloon-pos="up"][data-balloon-visible]:after {
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  [data-balloon][data-balloon-pos="up"]:hover:before, [data-balloon][data-balloon-pos="up"][data-balloon-visible]:before {
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  [data-balloon][data-balloon-pos="up-left"]:after {
    bottom: 100%;
    left: 0;
    margin-bottom: 11px;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    transform: translate(0, 10px);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top; }
  [data-balloon][data-balloon-pos="up-left"]:before {
    bottom: 100%;
    left: 5px;
    margin-bottom: 5px;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    transform: translate(0, 10px);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top; }
  [data-balloon][data-balloon-pos="up-left"]:hover:after, [data-balloon][data-balloon-pos="up-left"][data-balloon-visible]:after {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  [data-balloon][data-balloon-pos="up-left"]:hover:before, [data-balloon][data-balloon-pos="up-left"][data-balloon-visible]:before {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  [data-balloon][data-balloon-pos="up-right"]:after {
    bottom: 100%;
    right: 0;
    margin-bottom: 11px;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    transform: translate(0, 10px);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top; }
  [data-balloon][data-balloon-pos="up-right"]:before {
    bottom: 100%;
    right: 5px;
    margin-bottom: 5px;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    transform: translate(0, 10px);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top; }
  [data-balloon][data-balloon-pos="up-right"]:hover:after, [data-balloon][data-balloon-pos="up-right"][data-balloon-visible]:after {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  [data-balloon][data-balloon-pos="up-right"]:hover:before, [data-balloon][data-balloon-pos="up-right"][data-balloon-visible]:before {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  [data-balloon][data-balloon-pos='down']:after {
    left: 50%;
    margin-top: 11px;
    top: 100%;
    -webkit-transform: translate(-50%, -10px);
    -moz-transform: translate(-50%, -10px);
    -ms-transform: translate(-50%, -10px);
    transform: translate(-50%, -10px); }
  [data-balloon][data-balloon-pos='down']:before {
    background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba(17, 17, 17, 0.9)%22%20transform%3D%22rotate(180 18 6)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
    background-size: 100% auto;
    width: 18px;
    height: 6px;
    left: 50%;
    margin-top: 5px;
    top: 100%;
    -webkit-transform: translate(-50%, -10px);
    -moz-transform: translate(-50%, -10px);
    -ms-transform: translate(-50%, -10px);
    transform: translate(-50%, -10px); }
  [data-balloon][data-balloon-pos='down']:hover:after, [data-balloon][data-balloon-pos='down'][data-balloon-visible]:after {
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  [data-balloon][data-balloon-pos='down']:hover:before, [data-balloon][data-balloon-pos='down'][data-balloon-visible]:before {
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  [data-balloon][data-balloon-pos='down-left']:after {
    left: 0;
    margin-top: 11px;
    top: 100%;
    -webkit-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    transform: translate(0, -10px); }
  [data-balloon][data-balloon-pos='down-left']:before {
    background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba(17, 17, 17, 0.9)%22%20transform%3D%22rotate(180 18 6)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
    background-size: 100% auto;
    width: 18px;
    height: 6px;
    left: 5px;
    margin-top: 5px;
    top: 100%;
    -webkit-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    transform: translate(0, -10px); }
  [data-balloon][data-balloon-pos='down-left']:hover:after, [data-balloon][data-balloon-pos='down-left'][data-balloon-visible]:after {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  [data-balloon][data-balloon-pos='down-left']:hover:before, [data-balloon][data-balloon-pos='down-left'][data-balloon-visible]:before {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  [data-balloon][data-balloon-pos='down-right']:after {
    right: 0;
    margin-top: 11px;
    top: 100%;
    -webkit-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    transform: translate(0, -10px); }
  [data-balloon][data-balloon-pos='down-right']:before {
    background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba(17, 17, 17, 0.9)%22%20transform%3D%22rotate(180 18 6)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
    background-size: 100% auto;
    width: 18px;
    height: 6px;
    right: 5px;
    margin-top: 5px;
    top: 100%;
    -webkit-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    transform: translate(0, -10px); }
  [data-balloon][data-balloon-pos='down-right']:hover:after, [data-balloon][data-balloon-pos='down-right'][data-balloon-visible]:after {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  [data-balloon][data-balloon-pos='down-right']:hover:before, [data-balloon][data-balloon-pos='down-right'][data-balloon-visible]:before {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  [data-balloon][data-balloon-pos='left']:after {
    margin-right: 11px;
    right: 100%;
    top: 50%;
    -webkit-transform: translate(10px, -50%);
    -moz-transform: translate(10px, -50%);
    -ms-transform: translate(10px, -50%);
    transform: translate(10px, -50%); }
  [data-balloon][data-balloon-pos='left']:before {
    background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba(17, 17, 17, 0.9)%22%20transform%3D%22rotate(-90 18 18)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
    background-size: 100% auto;
    width: 6px;
    height: 18px;
    margin-right: 5px;
    right: 100%;
    top: 50%;
    -webkit-transform: translate(10px, -50%);
    -moz-transform: translate(10px, -50%);
    -ms-transform: translate(10px, -50%);
    transform: translate(10px, -50%); }
  [data-balloon][data-balloon-pos='left']:hover:after, [data-balloon][data-balloon-pos='left'][data-balloon-visible]:after {
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  [data-balloon][data-balloon-pos='left']:hover:before, [data-balloon][data-balloon-pos='left'][data-balloon-visible]:before {
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  [data-balloon][data-balloon-pos='right']:after {
    left: 100%;
    margin-left: 11px;
    top: 50%;
    -webkit-transform: translate(-10px, -50%);
    -moz-transform: translate(-10px, -50%);
    -ms-transform: translate(-10px, -50%);
    transform: translate(-10px, -50%); }
  [data-balloon][data-balloon-pos='right']:before {
    background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba(17, 17, 17, 0.9)%22%20transform%3D%22rotate(90 6 6)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
    background-size: 100% auto;
    width: 6px;
    height: 18px;
    left: 100%;
    margin-left: 5px;
    top: 50%;
    -webkit-transform: translate(-10px, -50%);
    -moz-transform: translate(-10px, -50%);
    -ms-transform: translate(-10px, -50%);
    transform: translate(-10px, -50%); }
  [data-balloon][data-balloon-pos='right']:hover:after, [data-balloon][data-balloon-pos='right'][data-balloon-visible]:after {
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  [data-balloon][data-balloon-pos='right']:hover:before, [data-balloon][data-balloon-pos='right'][data-balloon-visible]:before {
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  [data-balloon][data-balloon-length='small']:after {
    white-space: normal;
    width: 80px; }
  [data-balloon][data-balloon-length='medium']:after {
    white-space: normal;
    width: 150px; }
  [data-balloon][data-balloon-length='large']:after {
    white-space: normal;
    width: 260px; }
  [data-balloon][data-balloon-length='xlarge']:after {
    white-space: normal;
    width: 380px; }
    @media screen and (max-width: 768px) {
      [data-balloon][data-balloon-length='xlarge']:after {
        white-space: normal;
        width: 90vw; } }
  [data-balloon][data-balloon-length='fit']:after {
    white-space: normal;
width: 100%; }

.trigger {
    border: none;
    background-color: #000;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 2px;
}

.trigger:hover {
  padding: 8px 16px;
  border: 2px solid  #880E4F;
}

#playing {
    border: none;
    background-color: #000;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 2px;
}
#playing:hover {
  padding: 8px 16px;
  border: 2px solid  #880E4F;
}

#delete_save {
    border: none;
    background-color: #000;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 2px;
}

#delete_save:hover {
  padding: 8px 16px;
  border: 2px solid  #880E4F;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.close-button {
    float: right;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
    color: black;
    border-radius: 5em;
    font-size:2.5em;
}

.close-button:hover {
    color: #880E4F;
}

.next-button {
    float: right;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
    color: black;
    border-radius: 5em;
    font-size:2.5em;
}

.next-button:hover {
    color: #880E4F;
}

.show-modal {
  width:100%;
  height:100%;
  display:inline-block;
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


.cube {
  width: 60px;
  height: 60px;
  background: #000;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: background 0.2s;
  float:right;
  z-index: 3;
}

#settings-main  {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(2%, -17.5%);
  z-index: 10;
}

#settings-main {
  height: 50%;
  width: 2%;
}

.quadrant {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quadrant__item {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  border-radius: 6px;
  position: relative;
}

.quadrant__item__content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.quadrant__item__content button {
  background: transparent !important; 
  display: none !important;
}

.arrow-down,
.arrow-left,
.arrow-right,
.arrow-up {
  opacity: 0;
}

.arrow-up {
  transform: translateY(10px);
}

.arrow-down {
  transform: translateY(-10px);
}

.arrow-left {
  transform: translateX(10px);
}

.arrow-right {
  transform: translateX(-10px);
}

.overlap {
  z-index: 1;
}

.glyphicon glyphicon-menu-left {
  color: #000 !important;
  } 



*:before,
*:after {
  z-index: -1;
}

a {
  text-decoration: none;
  color: black;
}

.centerer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
}

@-webkit-keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}

@keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}
@-webkit-keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}
@keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}

.btn-11 {
  position: relative;
  color: #016FF9;
}
.btn-11:before, .btn-11:after {
  position: absolute;
  top: 50%;
  content: '';
  height: 20px;
  background-color: lightgrey;
  border-radius: 50%;
}
.btn-11:before {
  left: -20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.btn-11:after {
  right: -20px;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
.btn-11:hover {
  color: #880E4F;
}
.btn-11:hover:before {
  -webkit-animation: criss-cross-left 0.8s both;
          animation: criss-cross-left 0.8s both;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.btn-11:hover:after {
  -webkit-animation: criss-cross-right 0.8s both;
          animation: criss-cross-right 0.8s both;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.progress-bar {
  background-image: linear-gradient(to right, #5ac8fa, #007aff, #7DC8E8, #4cd964);
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress {
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
  border-radius: 30px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;
  transition-property: width, background-color;
}

#superclick_bar {
  width: 85%;
  background-color:  #fff;
}

#scene {
  z-index: 200000;
  position:absolute;
}

#background-fill {
  height:100%;
  width:100%;
  background-color:#1d1c25;
  z-index: 19999;
  position:absolute;
}

.progress_bar{
    height: 25px;
    background-color:#231E26;
    border-radius:15px;
    box-shadow:0 4px 7px -5px #000 inset;
    width:100%;
    margin: 2%;
}
.progress_bar:first-child{
    margin: 5% 4%;
}
.progress_bar .pro-bar{
    position: relative;
    height: 100%;
    box-shadow: 0 1px 11px -4px #fff insept;
    border-radius:15px;
    animation: animate-positive 4s;
}

.instructions {
  width: 200vw;
  display:inline-block;
}

#instructions_1, #instructions_2 {
  width: 95vw;
  display: inline-block;
}

.perk {
  width: 25%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.perk_point {
  width: 5%;
}

#perk_table {

}

@-webkit-keyframes animate-positive {
    0% { width: 0%;}
}
@keyframes animate-positive {
    0% { width:0%; }
}


@media screen and (max-width: 1100px ) {
   #left_wrap {
      margin: 2.5% 2%;
    }
    .tabs {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .scroll_tabs .button--secondary{
      width: 100%;
      font-size: 1em;
    }
    .button button--secondary {
      width: 100%;
      display: inline-block;
    }
    .tabs .button--secondary .button__inner { 
      font-size: 1.5em;
    }
    .purchase {
      font-size: 0.8em;
    }
    .sell {
      font-size: 0.8em;
    }
    .tabcontent {
      padding-bottom: 10px;
    }
    .tab_div {
      padding-bottom: 10px;
    }
    .tab_div .align_right {
      font-size: 0.8em;
    }
     #time_played {
      font-size: 0.6em !important;
    }
    body {
      background: none;
    }
    #tab_btns {
      width: 100%;
    }
}
@media screen and (min-height: 600px) and (min-width: 1100px) { 
    #left_floatable {
        position: fixed; 
        top: 5px;
        left: 5px;
        margin-left:0.5em;
        width: inherit;
    }
    #make_sell_spacer { display: block; }
    
    #time_played {
      font-size: 0.4em!important;
    }
}

@media screen and (min-width: 200px) {
    .scroll_tabs button { 
        width: 100%;
    }
    .share-button {
      width: 70%;
    }
    .slider-wrapper {
      margin: 2px 2px 2px 2px;
      width: 100%;
    }
   .modal-content {
    width: 90%;
    height: 70%;
    overflow-y: scroll;
    padding: 0 0 3% 0;
   }

   #stats_header_div {
    margin-bottom: 4%;
   }

   .slider__contents {
    padding: 1em;
   }

   .slider__caption {
      font-weight: 400;
      margin: 1rem 1rem 0.5rem 0.5rem;
      margin-top: 17.5%;
      margin-bottom: 0%;
   }

   .panel {
    width: 400%;
    padding: 0;
    margin: 0;
   }

  #stats_panel {
    width: 300%;
    padding: 0.5%;
  }

   .pricing-plan {
    padding: 0;
    margin: 0;
    width: 100%;
   }

   .pricing-table {
      padding: 0;
      margin: 0;
   }
   .pricing-features {
    margin-top: 1%;
   }
   #main_upgrades_header {
    text-align:center;
   }

   .slider-wrapper {
    margin: 0;
   }

   .share-button {
    width: 80%;
    overflow-x: hidden;
   }

   .share-button a {
    padding-left: 0.1%;
   }

   #stats_div_1 {
    padding: 2%;
   }

   .table-background {
    padding-left: 1%;
    padding-right: 1%;
   }

   #stats_background {
     overflow-x: scroll;
     overflow-y: hidden;
   }

   #stats_background div {
     overflow: initial;
   }

   #stats_header_1 {
     width: 45%;
   }

   #stats_header_div {
    margin-bottom: 2.5%;
   }

    .container {
      width: 50%;
      float:right;
    }

   #miracle_img {
    height:50vw; 
    width:50vw
  }

  .miracle {
    width: 100% !important;
  }
  .cube {
    height: 50px;
    width: 50px;
  }
}
@media screen and (min-width: 400px) { 
    .scroll_tabs button { 
        width: 48%;
    }
    .panel {
      width: 200%;
      padding: 0;
      margin: 0;
      border: 0px;
    }

   .pricing-plan {
      padding: 0;
      margin: 0;
   }

   .pricing-table {
      padding: 0;
      margin: 0;
   }
      #stats_header_div {
    margin-bottom: 3%;
   }

}
@media screen and (min-width: 600px) { 
    #tab_divs, #tab_btns {
      width: 100%;
    }

    #left_floatable {
      margin-top: 0.25%;
      margin-right: 2%;
    }

    #above_div {
      font-size: 1.25em;
    }

    #super {
       transform: rotate(-90deg);
       height: 7.5vh;
       width: 20vw;
       margin: 12.5% 0 0 0!important;
       display: inline-block;
       vertical-align: middle;
    }

    #time_played {
      font-size: 0.8em !important;
    }

    .scroll_tabs button {
      width: 25%;
    }

    .scroll_tabs button .button__inner {
      font-size: 0.7em;
    }

    .share-button .icon-wrapper {
      width: 73%;
    }

    .slider-wrapper {
      margin: 0.5%;
    }

   #stats_panel {
    width: 150%;
    height: 100%;
   }

   #stats_header_div {
    height: 10vh;
    margin-bottom: 4%;
   }

   .pricing-plan {
    width: 50%;
   }

   #miracle_img {
    width: 20vw;
    height: 20vw;
  }

  .modal-content {
    width: 80%;
    height: 77.5%;
    overflow-y: scroll;
  }

  .slider__contents {
    padding: 2em;
    margin-bottom: 5%;
   }

   .slider__caption {
      font-weight: 400;
      margin: 1rem 1rem 0.5rem 0.5rem;
      margin-top: 10%;
      margin-bottom: 0%;
   }

  .table-background {
    height: 100%;
  }

  #stats_background {
    height:60%;
  }

   .table-container {
     font-size: 0.7em;
     overflow: initial;
   }   
   
   #upgrade_table {
    width: 100%;
    height: 100%;
    overflow: scroll;
   }

   #perk_table {
    overflow-y: scroll;
   }
   .pricing-header {
    font-size: 2em;
    margin-bottom: 3.5%;
   }

   .pricing-features {
    font-size: 1em;
   }

   .pricing-price {
    margin-top: 1%;
   }

   .pricing-features li {
    padding: 12.5px 0;
    font-size: 1.25em;
   }   

   .btn-11 {
    font-size: 1.5em;
   }

   #miracle_wrap {
      display: inline-block;
   }

   #miracle_div, #miracle2_div {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    font-size: 1.1em;
   }

   #miracle_div {
    margin-right: 5%;
   }

   .pricing-features {
    margin-bottom: 5%;
   }
}

@media screen and (min-width: 900px) { 
    
  #upgrade_table div {
    height: 100%;
    font-size: 1em;
  }

  #upgrades_table {
    height: 100%;
  }

  .pricing-plan div div {
    border :none;
  }
}

  @media screen and (min-width: 900px) and (min-height: 700px) { 
    
   #upgrade_table {
     overflow-x: scroll;
     overflow-y: hidden;
   }

   html, body {
     overflow-x: hidden;
   }
  }
  /*#left_wrap { 
      float: left;
      min-width: 250px;
      width: 35%;
      margin-top: 0%;
      margin-left: 1%;
    }
    #super {
       transform: rotate(-90deg);
       height: 7.5vh;
       width: 20vw;
       margin: 12.5% 0 0 0!important;
      display: inline-block;
      vertical-align: middle;

    }

   #miracle_wrap {
      display: block;
   }

   #miracle_div, #miracle2_div {
    width: 30%;
    display: inline-block;
    vertical-align: top;
   }

   #miracle_div {
    margin-right: 5%;
   }
    #tab_divs, #tab_btns {
      float: left;
      width: 62.5%;
    }

    #miracle_img {
     width: 16vw;
     height: 16vw;
    }
}*/

@media screen and (min-width: 1100px) { 
    .scroll_tabs button .button__inner {
      font-size: 0.625em;
    }

    html, body {
      overflow-x: initial;
    }

    #left_wrap { 
      width: 30%;
      margin-top: 6%;
      margin-bottom:2%;
      margin-top: 1%;
    }

    #tab_divs, #tab_btns { 
      width: 64%;
      margin-left: 2%;
      font-size: 1.2em;
    }

    #time_played {
      font-size: 1.0em !important;
    }

    .scroll_tabs button {
      width: 24.5%;
    }

    .scroll_tabs {
      white-space: normal;
    }

    .share-button .icon-wrapper{
      width: 50%;
    }

    .show-modal {
      width:100%;
      height:100%;
    }

    #stats_header_1 {
     width: 25%;
   }

   .modal-content {
    width: 45%;
    height: 39%;
    overflow-y: hidden;
   }

  .modal-content {
    width: 70%;
    height: 62.5%;
    overflow-y: hidden;
  }

  .slider__contents {
    padding: 3em;
    margin-bottom: 7.5%;
   }

   .slider__caption {
      font-weight: 500;
      margin: 1rem 1rem 0.5rem 0.5rem;
      margin-top: 5%;
      margin-bottom: 0%;
   }

   #miracle_img {
    width: 18vw;
    height: 18vw;
   }

  #battle_1 {
    width: 45%;
  }

  #pantheon_head {
    margin-right:12.5%;
  }
  #miracle, #ascend {
    height: 16vh;
    font-size: 1.2em;
  }

  #left_floatable {
    margin-top: 1%;
    font-size: 1.3em;
  }
  .table-background {
    font-size: 0.8em;
  }
     .pricing-price {
    margin-top: 2.5%;
   }

    #super {
       vertical-align: middle;
       width: 80%;
      height: 4vh;
    }

   #miracle_wrap {
      display: block;
      text-align: center;
   }
   
   #miracle_div, #miracle2_div {
    width: 80%;
    vertical-align: top;
   }

   #miracle_div {
    margin: 0;
   }

       #tab_divs, #tab_btns {
      float: left;
      width: 62.5%;
    }

    .pricing-features li {
    padding: 7.5% 0;
    font-size: 1em;
   }
   #super {
    margin-bottom: 0.2% !important;
   }
    #miracle_img {
     width: 15vw;
     height: 15vw;
    }
   
    .scroll_tabs {
      overflow: hidden;
      white-space: normal;
    }
    
    .table-container {
      overflow: hidden;
    }

    #perk_table {
      overflow-y: hidden;
      overflow-x: scroll;
    }
    #perk_table div {
      height: 70vh;
    }
    .uncompleted {
      overflow: hidden;
    }

    #incomplete {
      overflow-y: scroll;
    }

    #super {
      transform: rotate(0deg);
   }
   #upgrade_table {
    overflow-y: hidden;
    height: 50vh;
    font-size: 0.75em;
  }

  #upgrade_table div {
    overflow: initial;
    height: 50vh;
  }
  
}

@media screen and (min-width: 1300px) { 
    h3 {
      font-size: 1.5em;
    }

    #perk_table div {
      height: 70vh;
    }

    .scroll_tabs button .button__inner { 
      font-size: 0.7em;
    }
  
    .scroll_tabs button {
      width: 22%;
    }

    #left_wrap { 
      width: 25%;
      margin-top: 1%;
      margin-left:1%;
    }
  
     .btn-11 {
    font-size: 1em;
   }
    #left_floatable {
      margin-top: 1%;
      font-size: 1.5em;
    }
    
    #tab_divs, #tab_btns { 
      width: 70%;
      margin-left: 2%;
      font-size: 1.45em;
    }

    .cube {
      height: 100px;
      width: 100px;
    }

    #time_played {
      font-size: 1.2em !important;
    }
   
    .scroll_tabs {
      overflow: hidden;
      white-space: normal;
    }
    
    .share-button {
      width: 75%;
    }
    
    .share-button .icon-wrapper{
      width: 50%;
    }

    .share-button a {
      font-size: 1.5em;
    }

    .slider-wrapper {
        margin-left:10% !important;
        margin-right:10% !important;
        width: 75%;
        font-size:0.5em;
        height: 4em;
    }
    
    #stats_header_div {
      height: 15vh;
      margin-bottom:3%;
    }

   #upgrades_table {
    width: 133.2%;
    height: 100%;
   }

   .pricing-plan {
    width: 33.3%;
   }

   #settings_header_1 {
    font-size: 2em;
   }

   .close-button {
    width: 4rem;
    height: 3rem;
   }

    .next-button {
    width: 4rem;
    height: 3rem;
   }
   #uncompleted {
    height: 70vh;
   }

   #upgrade_table {
    height: 100%;
   }

   #miracle_img {
    width: 15vw;
    height: 15vw;
   }

   .table-background {
    height: 90%;
   }

   .table-container {
    height: 40vh;
   }

   .pricing-features-item {
    font-size: 1em;
    padding: 25px 0;
   }

   #ascend {
    height: 15vh;
   }

   #ascend .tab_div {
      height: 100%;
      padding: 1%;
   }

  #miracle, #ascend {
    height: 16vh;
    font-size: 1.15em;
   }

   #miracle .tab_div {
      height: 100%;
      padding: 1%;
   }

   #battle_1 {
    width: 37.5%;
   }

   .container {
    margin-right: 5%;
   }

   .pricing-features li {
    padding: 5% 0;
    font-size: 0.75em;
   }

   #above_div {
     font-size: 1em;
   }
}

@media screen and (min-width: 1300px) and (max-height: 800px) {
  #miracle, #ascend {
    font-size: 1em;
    height: 20vh;
  }
}

@media screen and (min-height: 1000px) {
  #upgrade_table div {
    height: 70vh;
  }

  #Upgrades .uncompleted {
    font-size: 1.3em;
  }

  .pricing-header {
    margin: 10% 0%;
  }
  .upg div .pricing-features li {
    padding: 10% 0;
    font-size: 1em;
  }

  .upg div .pricing-price {
    margin-top: 5%;
  }

  .upg div .wrap .btn-11 {
    margin-top: 5%;
  }

  .perk {
    width: 20%;
  }

  #stats_table {
    height: 50vh;
    font-size: 1.25em;
  }

  #perk_table div {
    overflow: initial;
  }
}

@media screen and (min-width: 1600px) { 
    .tabs .button--secondary .button__inner { 
        font-size: 0.4em;
    }
    #left_wrap { 
        width: 22%;
    }
    #tab_btns, #tab_divs { 
        width: 72%;
    }

    .reset {
      margin: 5%;
    }
    .boss_img {
      height: 80% !important;
      width: 70% !important;
      margin-left:10%;
    }

   #upgrades_table {
    width: 133%;
   }

   .pricing-plan {
    width: 25%;
   }

   .modal-content {
      width: 60%;
      height: 55%;
      margin: 1%;
   }

   .close-button {
    margin-right: 1%;
   }

    #battle_1 {
    width: 35%;
   }
}
@media screen and (min-width: 1900px) { 
    #left_wrap { 
        width: 24%;
    }
    #tab_divs, #tab_btns { 
        width: 70%;
    }
    #battle_1 {
      width: 32.5%;
    }
    #miracle_img {
      width: 12.5vw;
      height: 12.5vw;
    }


@media screen and (min-width: 2700px) { 
    #miracle_img {
      width: 10vw;
      height: 10vw;
    }
}
